<dialog class="ban_post_popup popup-delete">
    <div class="header">
        <h1>{{ lang["popup-delete-header"] }}</h1>
    </div>
    <form action="/api/delete_post/{{ post.post_id }}" method="post">
        <div class="remove_all_ip_posts">
            <input type="checkbox" name="remove_all">
            <h1>{{ lang["popup-delete-ask"] }}</h1>
        </div>
        <div class="ban_times">
            <ul>
                <li class="ban_time"><button type="submit">{{ lang["popup-delete-submit"] }}</button></li>
            </ul>
        </div>
    </form>
</dialog>