bidict==0.23.1
blinker==1.8.2
captcha==0.6.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.7
Flask==3.0.3
Flask-SocketIO==5.3.6
h11==0.14.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.2.0
opencv-python==4.10.0.84
pillow==11.0.0
python-engineio==4.9.1
python-magic==0.4.27
python-socketio==5.7.2
pytz==2024.1
requests==2.32.4
simple-websocket==1.0.0
urllib3==2.4.0
Werkzeug==3.0.3
wsproto==1.2.0
