<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>rchan - Global Rules</title>
</head>
<body>
    {% include 'utils/navbar.html' %}
    <div class="page-content">
        <div class="index-banner">
            <img class="banner" draggable="false" src="/static/imgs/banners/index_banner/chanbanner.gif">
        </div>
        <div class="chan_title_header">
            <h1 class="board-title">{{ lang["global-rules"] }}</h1>
        </div>
        <div class="rules_container">
            <div class="rules">
            <div class="rules_header">
                <h1>{{ lang["global-rules"] }}</h1>
            </div>
                <ol start="1">
                    <li>templates/pages/globalrules.html</li>
                </ol>
            </div>
        </div>
        {% include 'utils/footer.html' %}
    </div>
    <script src="/static/js/thumb.js"></script>
    <script src="/static/js/boardstyle.js"></script>
</body>
</html>
