*{
    font-family: Graphik-Medium, "Graphik-Regular", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    background-color: #141414;
    background: linear-gradient(#6d99BA50,#1c1c1c75 400px calc(100% - 200px),#d2738A90),url(/static/imgs/backgrounds/background.gif),#0d0d0d none repeat scroll 0 0;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px
}

::-webkit-scrollbar-track {
    background: #222
}

::-webkit-scrollbar-thumb {
    background: #d2738a
}

::-webkit-scrollbar-thumb:hover {
    background: #9c4f62
}

.verde{
    color: #62cf02;
}

.vermelho{
    color: #ff6fc3;
}

.vermelho-reply{
    color: #ffab65;
}

.board-title {
    color: #f4c095;
    font: bolder 28px Tahoma, sans-serif;
    letter-spacing: -2px;
    text-align: center;
    margin: 0;
}

.board_banner {
    border: 1px solid #d2738a;
    max-height: 10em;
}

.waring-container{
    position: fixed;
    top: 39%;
    background-color: #222;
    border: 1px solid #d2738a;
    width: 24em;
    height: auto;
    z-index: 999;
}

.waring-header{
    border-bottom: 1px solid #d2738a;
    max-height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282a2e;
}

.waring-header h1{
    color: #f4c095;
    font-size: 17px;
}

.waring-content{
    padding: 0;
    text-align: center;
    font-size: 13px;
    color: #f4c095;
}

.waring-button{
    padding: 4px;
    text-align: center;
}

.waring-button button{
    width: 5em;
    background-color: transparent;
    border: 1px solid #d2738a;
    outline: none;
    color: #f4c095;
    cursor: pointer;
}

.spoiler{
    background-color: #000;
    color: #000;
}

.spoiler:hover{
    background-color: transparent;
    color: #fff;
}

.quote-button {
    display: none;
    position: absolute;
    background-color: #222;
    color: #f4c095;
    border: 1px solid #d2738a;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: -30px;
    z-index: 1000;
}

.rainbowtext {
    background: linear-gradient(
      to right,
      #ff0000,
      #ffa600,
      #fff500,
      #06ff00,
      #00c9ff,
      #2300ff,
      #ff00fa,
      #ff0000
    );
    background-size: 200% auto;
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 11pt;
    font-weight: bold;
    animation: heading 1s linear infinite;
  }
  
  @keyframes heading {
    to {
      background-position: 200% center;
    }
  }
  
.mini-osaka {
    position: fixed;
    bottom: 0;
    right: 0;
    user-select: none;
}

#reinrun {
    top: 50%;
    width: 100%;
    height: 146px;
    background: url(/static/imgs/decoration/reinrun.gif);
    -webkit-animation: slide 1s linear infinite;
}


footer {
    font-size: 10px;
    color: #fff;
}

footer a {
    font-size: 10px;
    color: #fff;
}

.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 2.5em;
    background-color: #222222eb;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #d2738a;
    z-index: 9999;
}

.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.logo{
    user-select: none;
    display: flex;
    margin-left: 2em;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.logo a{
    text-decoration: none;
    color: transparent;
}

.boards{
    margin-right: 2em;
}

.board-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3em;
}

.board-links li{
    list-style: none;
}

.board-links li a{
    text-decoration: none;
    font-family: "Spline Sans Mono", monospace !important;
    font-size: 11pt !important;
    color: #6d98ba;
    position: relative;
    transition: all 0.3s ease;
}

.board-links a:hover{
    filter: drop-shadow(1px 1px 6px #fff);
}

.board-link{
    list-style: none;
}

.page-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    flex-direction: column;
    width: 100%;
}

.banner{
    user-select: none;
    width: 100%;
}

.post_img{
    user-select: none;
    width: 100%;
}

.post_video{
    user-select: none;
    width: 100%;
    height: 240px;
}

.newboard-form{
    margin-top: 2em;
    max-width: 22em;
    display: none;
}

.newboard-form form{
    display: flex;
    align-items: center;
    max-width: 100%;
    flex-direction: column;
    color: #f4c095;
    gap: 2px;
}

.thread-content{
    height: 8em;
}

.button{
    max-width: 5em;
}

#togglePostFormLink {
    font-size: 11px;
    font-weight: 400;
    background-color: #222222;
    border-style: none none none solid;
    border-color: #d2738a;
    border-width: 1px;
    width: 9em;
    height: 3.3em;
    text-align: center;
    margin-top: 3em;
    color: #6d98ba;
    display: block;
}

#togglePostFormLink a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #6d98ba;
}

#togglePostFormLink a:hover{
    color: #e90000;
}

#draggableForm {
    position: absolute;
    cursor: move; 
    z-index: 990;
    top: 0;
}

.new-thread-container{
    background-color: #1f1e1e;
    padding: 5px;
}

.new-thread-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff10;
    max-height: 1.5em;
}

.new-thread-header h1{
    font-size: 16px;
    color: #d3d3d3;
}

.row {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 1px;
    overflow: hidden;
    flex-shrink: 0;
}

.postform-style {
    display: flex;
    border: 1px solid #d2738a;
    background: #222;
    align-items: center;
    box-sizing: border-box;
}


.close {
    text-decoration: none;
    justify-content: center;
    font-weight: bolder;
    margin-left: auto;
    width: 25px;
    cursor: pointer;
    font-size: initial;
}

input, select, textarea {
    accent-color: var(--accent-color);
    border: 1px solid #d2738a;
    border-radius: 0;
    background: #222;
    color: #fff;
    font-family: arial, helvetica, sans-serif;
    font-size: inherit;
}

.label, .rlabel {
    padding: 3px;
    border: 1px solid #d2738a;
    min-width: 80px;
    background: #222;
    display: flex;
    font-weight: 700;
    font-size: 13px;
    margin-right: 1px;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    color: #d3d3d3;
}

input[type=button], input[type=file], input[type=number], input[type=password], input[type=range], input[type=submit], input[type=text], select, textarea {
    margin: 0;
    flex-grow: 1;
    font-size: 13px;
    outline: none;
}

.filelabel {
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-style: dashed !important;
    justify-content: center;
    padding: 5px;
    min-width: 220px;
    flex-grow: 1;
    flex-direction: column;
    min-height: 38px;
    height: 100%;
    font-size: 13px;
    color: #d3d3d3;
}

.postform-style.dummy-link, input[type=submit] {
    min-height: 2.5em;
    cursor: pointer;
    width: 100%;
}

.board-options-container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: 2em;
}

.board-options{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 0em 1em;
    max-height: 2.3em;
    border-style: none none none solid;
    border-color: #d2738a;
    border-width: 1px;
}

.board-options ul{
    display: flex;
    align-items: flex-start;
    gap: 0.4em;
    padding: 0em;
}

.board-options ul li{
    list-style: none;
}

.board-options ul li a{
    text-decoration: none;
    color: #6d98ba;
    font-size: 10pt;
    transition: all 0.3s ease;
}

.board-options ul li a:hover{
    filter: drop-shadow(1px 1px 6px #fff);
}

.posts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    justify-content: flex-start;
    left: 0;
}

.divisoria{
    border-top: 0.5px solid #d2738a;
    width: 100%;
    margin-top: 1em;
}

.name{
    color: #fff;
    font-weight: bold;
}

.post{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2em;
    max-width: 83%;
    min-width: 70%;
    margin-top: 1em;
    position: relative;
    flex: 0 0 auto;
}

.post_content{
    font-family: "Spline Sans Mono", monospace !important;
    font-size: 11pt !important;
    font-weight: 300;
    color: #f4c095;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    overflow-wrap: anywhere;
    flex: 1;
    z-index: 1;
}

.post_content pre{
    font-family: inherit;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
}

.post_image{
    max-width: fit-content;
    max-height: fit-content;
    margin-top: 3em;
    margin-bottom: 1em;
    margin-left: 10px;
    cursor: pointer;
    flex: 1;
}

.post_image img{
    max-width: 200px;
    max-height: 400px;
}

.postInfo{
    color: #fff;
    margin-top: 0.5em;
    position: absolute;
    margin-left: 10px;
    left: 0;
    width: 40em;
    height: 2px;
    font-size: 14px;
}

.reply-postInfo{
    color: #fff;
    margin-top: 0.5em;
    position: absolute;
    margin-left: 10px;
    width: 40em;
    height: 10px;
    font-size: 14px;
}

.postLink{
    margin-left: 4px;
    color: #6d98ba;
    font-size: 14px;
}

#delete-thread{
    cursor: pointer;
    color: #6d98ba;
    transition: all 0.3s ease;
}

#delete-thread:hover{
    color: #e90000;
}

.image_url{
    font-size: 14px;
    margin-left: 4px;
    color: #6d98ba;
    text-decoration: none;
}

.name{
    color: #d2738a;
}

.replies{
    flex: 1;
    align-items: flex-start;
    border-radius: 5px;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
}

.reply{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: 30em;
    width: fit-content;
    flex: 0 0 auto;
    color: #fff;
    background-color: #222222;
    border-style: none none none solid;
    border-color: #d2738a;
    border-width: 1px;
    margin-top: 3em;
    height: fit-content;
    margin-top: 1em;
    align-items: flex-start;
    justify-content: flex-start;
    animation: fadeInDown 0.5s ease forwards;
    box-sizing: border-box;
}

.reply_content{
    margin-left: 2em;
    margin-top: 3em;
    flex: 1;
    margin-bottom: 2em;
    padding: 0em 0.8em;
    max-width: fit-content;
    font-family: "Spline Sans Mono", monospace !important;
    font-size: 10pt !important;
    color: #f4c095;
    overflow-wrap: anywhere;
    z-index: 1;
}

.reply_content pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.reply_img{
    max-width: 300px;
    max-height: 500px;
    margin-top: 3em;
    margin-bottom: 1em;
    margin-left: 10px;
    cursor: pointer;
    flex: 1;
}

.reply_img img{
    max-width: 400px;
    border-radius: 5px;
    max-height: 700px;
}

.sobre-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 74%;
    width: 800px;
    margin-top: 3px;
}

.sobre{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #00000083;
    border: 1px solid#d2738a;
}

.sobre-header{
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: #f4c095;
    background-color: #282a2e;
    max-height: 2.5em;
}

.sobre-content{
    display: flex;
    flex-direction: column;
    font-family: "Spline Sans Mono", monospace !important;
    font-size: 15px !important;
    align-items: center;
    justify-content: center;
    color: #f4c095;
}

.sobre-content p{
    max-height: 5px;
}

.sobre-content a{
    margin-bottom: 10px;
}

.boards-container {
    margin-top: 1em;
    border: 1px solid#d2738a;
    background-color: #00000088;
    max-width: 74%;
    width: 800px;
}

.boards-table{
    width: 100%;
}

.boards-table thead{
    background-color: #282a2e;
    color: #dbcfb0;
}
  
.boards-table tbody {
    background-color: transparent;
    color: #f1c8a5;
    font-size: 15px;
    height: 2em;
    width: 100%;
}

.boards-table tr {
    width: 100%;
}

.boards-table td:last-child {
    text-align: center;
}

.boards-table tbody:nth-child(odd) {
    background-color: #222222;
}

.board_link{
    color: #6d98ba;
    font-size: 16px;
}

.last-posts-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    max-width: 74%;
    width: 800px;
}

.last-posts{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #00000096;
    border: 1px solid #d2738a;
}

.last-post {
    display: flex;
    align-items: center;
    justify-content: normal;
    padding: 0em 0.5em;
    gap: 10px;
    transition: all 0.3s ease;
}

.last-post:hover{
    background-color: #1b1d1e;
}

.last_post_info {
    flex: 0 0 auto;
    display: flex;
    margin-left: 1em;
    width: 2.5em;
    align-items: center;
    justify-content: center;
    color: #6d98ba;
}

.last_post_info a{
    display: flex;
    color: #6d98ba;
}

.last_post_image{
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last_post_image img{
    object-fit: cover;
    max-width: 120px;
    max-height: 120px;
    width: 100px;
    height: 100px;
}

.last_post_content{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: anywhere;
}

.last_post_content a{
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    flex-wrap: wrap;
    color: #6d98ba;
}

.hidden_service{
    color: #6d98ba;
}

@media (max-width: 600px) {
    .waring-container{
        width: 20em;
    }
    .waring-header h1{
        font-size: 14px;
    }
    .waring-content{
        font-size: 10px;
    }
    .post{
        max-width: 100%;
        width: 100%;
    }
    .post_image{
        margin-top: 4em;
    }
    .post_content{
        margin-top: 4em;
    }
    .replies{
        width: 100%;
    }
    .reply{
        width: 100%;
        min-width: 100%;
    }
    .reply_img {
        max-width: 100px;
    }
    .sobre-container{
        max-width: 100%;
        width: 100%;
    }
    .last-posts-container{
        max-width: 100%;
    }
    .postInfo{
        width: auto;
        height: 2px;
    }
    .reply-postInfo{
        width: auto;
    }
    .boards-container{
        max-width: 100%;
        width: 100%;
    }
    #draggableForm {
        position: relative;
    }
  }

@-webkit-keyframes slide {
    from{
        background-position:2560px;
    }
    to{
        background-position:-2560px;
    }
}
