<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="/{{ board_id }}/">
    <meta property="og:image" content="https://81chan.fun/favicon.ico">
    <meta property="og:description" content="rchan, seu imageboard favorito.">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ｒｃｈａｎ /{{ board_id }}/</title>
</head>
<body>
    {% include 'utils/navbar.html' %}
    <div class="page-content">
        {% include 'utils/board_banner_content.html' %}
    </div>
    <div id="reinrun"></div>
    {% include 'utils/footer.html' %}
    <script src="/static/js/boardstyle.js"></script>
    <script src="/static/js/banner_submit.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
