<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>/{{ board_id }}/ - {{ lang["board-options-catalog"] }}</title>
</head>
<body>
    {% include 'utils/navbar.html' %}
    <div class="page-content">
        <div class="chan-banner">
            <img class="banner board_banner" draggable="false" src="{{ board_banner }}">
        </div>
        <h1 class="board-title">{{ lang["board-options-catalog"] }}(/{{ board_info.board_uri }}/)</h1>
        {% include 'utils/threadform.html' %}
        <div class="catalog-sort-controls">
            <input type="text" id="catalogSearchInput" placeholder="Buscar...">
            <select id="catalogSortSelect">
                <option value="bump">Ordenar por bump</option>
                <option value="date">Ordenar por data/hora</option>
            </select>
        </div>
        <div class="catalog-container">
            {% for post in posts %}
            <div class="catalog-post" id="{{ post.post_id }}">
                <div class="catalog-post-info">
                    <input type="checkbox" name="" id="">
                    <span class="name">{% if post.post_user == '' or post.post_user == 'Anonymous' %}ドワーフ{% else %}{{ post.post_user | safe }} {% endif %}</span>
                    <span class="postDate" data-original-date="{{ post.post_date }}" title="{{ post.post_date }}">{{ post.post_date }}</span>
                    <a href="/{{ board_id }}/thread/{{ post.post_id }}" class="postLink">No. </a> <a class="postLink" href="/{{ board_id }}/thread/{{ post.post_id }}" class="postNumber">{{ post.post_id }}</a>
                    <a class="postLink" href="/{{ board_id }}/thread/{{ post.post_id }}"> [{{ lang['thread-reply-button'] }}]</a>
                    <div class="catalog-post-counter">
                        {% set post_replies = replies|selectattr('post_id', 'equalto', post.post_id)|list %}
                        R: {{ post_replies | length }} / F: {{ post.post_images | length }} / P: 1
                    </div>
                </div>
                <div class="catalog-post-file">
                    <a href="/{{ board_info.board_uri }}/thread/{{ post.post_id }}">
                    {% set is_approved = post.get('media_approved', 1)|int == 1 %}
                    {% set is_staff = 'owner' in roles.lower() or 'mod' in roles.lower() or ('board_owner' in board_info and session.get('username') == board_info.board_owner) or (session.get('username') in board_info.board_staffs) %}
                    
                    {% if is_approved or is_staff %}
                        {% if post.post_images[0].startswith('youtube:') %}
                            {% set video_id = post.post_images[0].split(':')[1] %}
                            <img src="https://img.youtube.com/vi/{{ video_id }}/0.jpg">
                        {% elif post.post_images[0].split('.')[-1].lower() in ['mp4', 'mov', 'webm'] %}
                        <img src="{{ url_for('static', filename='post_images/thumbs/thumbnail_' ~ post.post_images[0]|replace('.' ~ post.post_images[0].split('.')[-1], '') ~ '.jpg') }}">
                        {% else %}
                        <img src="/static/post_images/{{ post.post_images[0] }}">
                        {% endif %}
                    {% else %}
                        <img src="/static/imgs/decoration/mediapendingapproval.png">
                    {% endif %}
                    </a>
                </div>
                <div class="catalog-post-content">
                    <pre>{{ post.post_content[:400] | safe }}{% if post.is_banned %}
<span class="banned-warning">{{ lang['banned-thread-warn'] }}</span>{% endif %}</pre>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'utils/waring-container.html' %}
    </div>
    <div id="reinrun"></div>
    {% include 'utils/footer.html' %}
    <script src="/static/js/captcha.js"></script>
    <script src="/static/js/postform.js"></script>
    <script src="/static/js/thumb.js"></script>
    <script src="/static/js/boardstyle.js"></script>
    <script src="/static/js/flash.js"></script>
    <script src="/static/js/mediascript.js"></script>
    <script src="/static/js/thread.js"></script>
    <script src="/static/js/socket.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
