<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>レインｃｈａｎｎｅｌ</title>
</head>
<body>
    {% include 'utils/navbar.html' %}
    <div class="page-content">
        {% include 'utils/register-container.html' %}
        {% include 'utils/waring-container.html' %}
        {% include 'utils/footer.html' %}
    </div>
    <script src="/static/js/captcha.js"></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script src="/static/js/boardstyle.js"></script>
    <script src="/static/js/flash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
