<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for post in posts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>レインｃｈａｎｎｅｌ - /{{post.board}}/</title>
    {% endfor %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'utils/navbar.html' %}
    <div class="page-content">
        {% include 'utils/threadform.html' %}
        {% include 'utils/thread-options-container.html' %}
        {% include 'utils/replies.html' %}
        {% include 'utils/waring-container.html' %}
    </div>
    <div id="reinrun"></div>
    {% include 'utils/footer.html' %}
    <script src="/static/js/captcha.js"></script>
    <script src="/static/js/postform.js"></script>
    <script src="/static/js/thumb.js"></script>
    <script src="/static/js/boardstyle.js"></script>
    <script src="/static/js/flash.js"></script>
    <script src="/static/js/mediascript.js"></script>
    <script src="/static/js/thread.js"></script>
    <script src="/static/js/socket.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
