<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for post in posts %}
    <meta property="og:title" content="/{{post.board}}/{{post.post_id}}">
    <meta property="og:image" content="{{ url_for('static', filename='/post_images/' + post.post_image) }}">
    <meta property="og:description" content="{{ post.post_content[:33] }}...">
    <title>ｒｃｈａｎ - /{{post.board}}/</title>
    {% endfor %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body onload="exibirMensagemFlash()">
    {% include 'utils/navbar.html' %}
    <div class="page-content">
        {% include 'utils/threadform.html' %}
        {% include 'utils/replies.html' %}
        {% include 'utils/waring-container.html' %}
    </div>
    <div id="reinrun"></div>
    {% include 'utils/footer.html' %}
    <script src="/static/js/postform.js"></script>
    <script src="/static/js/flash.js"></script>
    <script src="/static/js/mediascript.js"></script>
    <script src="/static/js/thread.js"></script>
</body>
</html>