<div class="posts" id="posts_board">
    {% for post in posts %}
    {% if post.board == board_id %}
    {% if post.visible == 1 or 'visible' not in post %}
    <div class="divisoria"></div>
    <div class="post" post-role="operator" id="{{ post.post_id }}">
        <div class="postInfo">
            <input id="togglemodoptions" type="checkbox" class="deletionCheckBox" name="mod-{{ post.post_id }}" form="banDeleteForm">
            <span class="nameBlock"><span class="name">{% if post.post_user == '' or post.post_user == 'Anonymous' %}ドワーフ{% else %}{{ post.post_user | safe }} {% endif %}</span></span>
            <span class="postDate">{{ post.post_date }}</span><a href="/{{ board_id }}/thread/{{ post.post_id }}" class="postLink">No. </a> <a class="postLink" href="/{{ board_id }}/thread/{{ post.post_id }}" class="postNumber">{{ post.post_id }}</a>
                <a class="postLink" href="/{{ board_id }}/thread/{{ post.post_id }}"> [{{ lang['thread-reply-button'] }}]</a>{% include 'utils/thread-moderation-options.html' %}
        </div>
        <div class="post_content_container">
            <div class="post_files {% if post.post_images|length > 1 %}multiple_files{% endif %}">
                {% for image in post.post_images %}
                    <div class="post_image">
                        <div class="post_image_info">
                            <a class="image_url" href="/static/post_images/{{ image }}">
                                {{ image[:17] ~ '...' ~ image.split('.')[-1] if image|length > 17 else image }}
                            </a>
                        </div>
                        {% if image.split('.')[-1].lower() in ['mp4', 'mov', 'webm'] %}
                        <img class="post_img post_video_thumbnail" id="post_video_thumbnail" draggable="false"
                            src="{{ url_for('static', filename='post_images/thumbs/thumbnail_' ~ image|replace('.' ~ image.split('.')[-1], '') ~ '.jpg') }}">
                            <video controls class="post_video"
                                   src="{{ url_for('static', filename='post_images/' ~ image) }}" 
                                   style="display: none;"></video>
                        {% else %}
                            <img draggable="false" class="post_img" 
                                 src="{{ url_for('static', filename='post_images/' ~ image) }}" 
                                 alt="">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="post_content">
                <pre>{% if post.post_content | length >= 500 %}{{ post.post_content[:450] | safe }}...<a class="toolong" href="/{{ board_id }}/thread/{{ post.post_id }}">Ver mais.</a>{% else %}{{ post.post_content | safe }}{% endif %}</pre>
            </div>
            <div class="replies">
                {% set post_replies = replies|selectattr('post_id', 'equalto', post.post_id)|list %}
                {% set last_4_replies = post_replies[-4:] %}
                {% set hidden_replies_count = post_replies|length - 4 if post_replies|length > 4 else 0 %}

                {% for reply in last_4_replies %}
                <div class="reply" id="{{ reply.reply_id }}">
                    <div class="reply-postInfo">
                        <input id="togglemodoptions" type="checkbox" class="deletionCheckBox" name="{{ post.post_id }}" form="banDeleteForm">
                        <span class="nameBlock"><span class="name">{% if not reply.post_user or reply.post_user == '' %}ドワーフ{% else %}{{ reply.post_user | safe }}{% endif %}</span></span>
                        <span class="postDate">{{ reply.post_date }}</span><a href="/{{ board_id }}/thread/{{ post.post_id }}" class="postLink">No. </a> <a class="postLink" href="/{{ board_id }}/thread/{{ post.post_id }}" >{{ reply.reply_id }}</a>{% include 'utils/reply-moderation-options.html' %}
                    </div>
                    <div class="post_content_container">
                        {% if reply.get('images') or reply.get('image') %}
                            <div class="reply_files {% if reply.get('images') and reply.images|length > 1 %}multiple_files{% endif %}">
                                {% for image in reply.get('images', [reply.get('image', '')]) %}
                                <div class="reply_image">
                                        {% if image %}
                                            <div class="reply_file">
                                                <div class="reply_image_info">
                                                    <a class="image_url" href="/static/reply_images/{{ image }}">
                                                        {{ image[:17] ~ '...' ~ image.split('.')[-1] if image|length > 17 else image }}
                                                    </a>
                                                </div>
                                                {% if image.split('.')[-1].lower() in ['mp4', 'mov', 'webm'] %}
                                                <img class="reply_img post_video_thumbnail" id="post_video_thumbnail" draggable="false"
                                                    src="{{ url_for('static', filename='reply_images/thumbs/thumbnail_' ~ image|replace('.' ~ image.split('.')[-1], '') ~ '.jpg') }}">
                                                    <video controls draggable="false" class="reply_img post_video" 
                                                        src="{{ url_for('static', filename='reply_images/' ~ image) }}"></video>
                                                {% else %}
                                                    <img draggable="false" class="reply_img" 
                                                        src="{{ url_for('static', filename='reply_images/' ~ image) }}" 
                                                        alt="">
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="reply_content">
                            <pre>{{ reply.content | safe }}</pre>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if hidden_replies_count > 0 %}
                <div class="hidden-replies">
                    <span>{{ hidden_replies_count }} {{ lang['hidden-replies'] }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
