<div class="paginate-posts-container">
    <div class="paginate-posts">
        <span>&nbsp; Paginas: &nbsp;</span>
        <ul class="pagination">

        {% for p in range(1, total_pages + 1) %}
            {% if p == page %}
            <li class="page-item active"><a class="page-link">[{{ p }}]</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('boards.board_page', board_uri=board_info.board_uri, page=p) }}">[{{ p }}]</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        <span style="font-size: 13pt;">&nbsp; | &nbsp;</span>
        <div class="board-options">
            <ul>
                <li class="board-option"><a href="/{{ board_info.board_uri }}/banners">[{{ lang["board-options-banner"] }}]</a></li>
                <li class="board-option"><a href="/{{ board_info.board_uri }}/catalog">[{{ lang["board-options-catalog"] }}]</a></li>
            </ul>
        </div>
        &nbsp;
    </div>
</div>
