<div class="board-options-container">
    <div class="board-options">
        <ul>
            <li class="board-option"><a href="/catalogo">[{{ lang["board-options-catalog"] }}]</a></li>
            <li class="board-option"><a href="/{{ board_info.board_uri }}/banners">[{{ lang["board-options-banner"] }}]</a></li>
            <li class="board-option"><a href="/{{ board_info.board_uri }}/manage">[{{ lang["board-options-manage"] }}]</a></li>
            <li class="board-option"><a href="/">[{{ lang["board-options-back"] }}]</a></li>
        </ul>
    </div>
    {% include 'utils/theme-selector.html' %}
</div>
