<div class="paginate-posts-container">
    <div class="paginate-posts">
        {% if page > 1 %}
            <a href="{{ url_for('boards.board_page', board_uri=board_info.board_uri, page=page - 1) }}"><i class="fa-solid fa-arrow-left"></i></a>
        {% else %}
            <i class="fa-solid fa-arrow-left" style="color: #bfbfbf;"></i>
        {% endif %}

        <ul class="pagination">

        {% for p in range(1, total_pages + 1) %}
            {% if p == page %}
            <li class="page-item active"><a class="page-link" href="{{ url_for('boards.board_page', board_uri=board_info.board_uri, page=p) }}">{{ p }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('boards.board_page', board_uri=board_info.board_uri, page=p) }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        {% if page < total_pages %}
            <a href="{{ url_for('boards.board_page', board_uri=board_info.board_uri, page=page + 1) }}"><i class="fa-solid fa-arrow-right"></i></a>
        {% else %}
            <i class="fa-solid fa-arrow-right" style="color: #bfbfbf;"></i>
        {% endif %}
    </div>
</div>
