<div class="container" bis_skin_checked="1">
    <div class="board-header" bis_skin_checked="1">
        <h1 class="board-title">{{ lang['dashboard-welcome-message'] }}, {{ username }}</h1>
    </div>
    <div class="divisoria"></div>
    <div class="dashboard-account-container">
        <h1 class="dashboard-section-header">{{ lang['dashboard-choose-theme'] }}</h1>
        {% include 'utils/theme-selector.html' %}
    </div>
    <div class="divisoria"></div>
    <div class="dashboard-account-container">
        <h1 class="dashboard-section-header">Your boards</h1>
            <div style="width: 300px; height: 200px; overflow-y: auto; border: 2px solid var(--cor-borda); border-radius: 5px; background-color: var(--cor-fundo); color: var(--cor-texto); padding: 10px; font-family: 'Courier New', Courier, monospace;">
                <table style="width: 100%; border-collapse: collapse; font-size: 14px;">
                    <td colspan="2"><a href="/create">Create board</a></td>
                    {% for board in user_boards %}
                    <tr>
                        <td style="padding: 5px; border-bottom: 1px solid var(--cor-borda-claro); color: var(--cor-texto);">
                            <a href="/{{ board.board_uri }}/" style="text-decoration: none; color: var(--cor-primaria); font-weight: bold;">/{{ board.board_uri }}/ - {{ board.board_name }}</a>
                        </td>
                        <td style="padding: 5px; text-align: right; border-bottom: 1px solid var(--cor-borda-claro);">
                            <form action="/remove_board/{{ board.board_uri }}" method="post" style="display: inline; margin: 0;">
                                <button style="cursor: pointer; background-color: var(--cor-fundo-claro); color: var(--cor-quote); border: 1px solid var(--cor-borda); padding: 2px 5px; font-size: 12px;" type="submit">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
    {% if 'mod' in roles.lower() or 'owner' in roles.lower() %}
    <div class="divisoria"></div>
    <div class="dashboard-account-container">
        <h1 class="dashboard-section-header">All boards</h1>
        <div style="width: 300px; height: 200px; overflow-y: auto; border: 2px solid var(--cor-borda); border-radius: 5px; background-color: var(--cor-fundo); color: var(--cor-texto); padding: 10px; font-family: 'Courier New', Courier, monospace;">
            <table style="width: 100%; border-collapse: collapse; font-size: 14px;">
                {% for board in all_boards %}
                <tr>
                    <td style="padding: 5px; border-bottom: 1px solid var(--cor-borda-claro); color: var(--cor-texto);">
                        <a href="/{{ board.board_uri }}/" style="text-decoration: none; color: var(--cor-primaria); font-weight: bold;">/{{ board.board_uri }}/ - {{ board.board_name }}</a>
                    </td>
                    <td style="padding: 5px; text-align: right; border-bottom: 1px solid var(--cor-borda-claro);">
                        <form action="/remove_board/{{ board.board_uri }}" method="post" style="display: inline; margin: 0;">
                            <button style="cursor: pointer; background-color: var(--cor-fundo-claro); color: var(--cor-quote); border: 1px solid var(--cor-borda); padding: 2px 5px; font-size: 12px;" type="submit">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>      
    </div>
    {% endif %}
    {% if 'mod' in roles.lower() or 'owner' in roles.lower() %}
    <div class="divisoria"></div>
    <div class="dashboard-account-container">
        <h1 class="dashboard-section-header">{{ lang['dashboard-website-configs'] }}</h1>
        <div style="display: flex; gap: 1em;" class="general_ib_configs">
            {% if 'owner' in roles.lower() %}
                {% include 'utils/general-language-config.html' %}
            {% endif %}
            <form id="generalcaptchaform" action="/apply_general_captcha" method="POST">
                <select name="generalcaptcha_option" id="generalcap" onchange="document.getElementById('generalcaptchaform').submit();">
                    <option value="disable">Captcha form</option>
                    <option value="enable">Enable</option>
                    <option value="disable">Disable</option>
                </select>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="divisoria"></div>
    <div class="dashboard-account-container">
        <h1 class="dashboard-section-header">{{ lang['dashboard-account'] }}</h1>
        <form action="/logout" method="get">
            <input type="submit" value="logout">
        </form>
    </div>
</div>
