<div class="container" bis_skin_checked="1">
    <div class="board-header" bis_skin_checked="1">
        <h1 class="board-title">Welcome, {{ username }}</h1>
    </div>
    <div class="divisoria"></div>
    <div class="dashboard-account-container">
        <h1 class="dashboard-section-header">Escolha um tema</h1>
        {% include 'utils/theme-selector.html' %}
    </div>
    <div class="divisoria"></div>
    <div class="dashboard-account-container">
        <h1 class="dashboard-section-header">Suas tábuas</h1>
        <ul>
            <li><a href="/create">criar tábua</a></li>
            {% if user_boards %}
            {% for board in user_boards %}
            <li><a href="/{{ board.board_uri }}/">/{{ board.board_uri }}/ - {{ board.board_name }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="divisoria"></div>
    <div class="dashboard-account-container">
        <h1 class="dashboard-section-header">Conta</h1>
        <form action="/logout" method="get">
            <input type="submit" value="Sair">
        </form>
    </div>
</div>
