<footer>
    <p class="unimportant" style="margin-top:20px;text-align:center;">- rchan + 
        <a href="https://github.com/lainsec/rchan">rchan</a> {{ config.version }} - <a href="https://github.com/lainsec/rchan/tree/master?tab=readme-ov-file#frequently-asked-questions">FAQ</a>
    <br>rchan Copyright &copy; 2024-2024 rchan Development Group    
    <br><a href="https://github.com/lainsec/rchan">rchan</a> Copyright &copy; 2020-2024 Lainsec</p>
    {% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
</footer>
