<footer>
    <p class="unimportant" style="margin-top:20px;text-align:center;">- kekw.party + 
        <a href="https://github.com/lainsec/rchan">rchan</a> {{ config.version }} - <a href="/pages/globalrules.html">rules</a>
    <br>rchan Copyright &copy; 2024-2024 rchan Development Group    
    <br><a href="https://github.com/lainsec/rchan">rchan</a> Copyright &copy; 2020-2024 Lainsec</p>
    {% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
</footer>
