var postImgs = document.querySelectorAll('.post_img');

postImgs.forEach(function(img) {
    img.addEventListener('click', function() {
        var isExpanded = img.dataset.expanded === 'true';

        if (isExpanded) {
            img.style.width = '';
            img.style.height = '';
            img.dataset.expanded = 'false';
        } else {
            img.style.width = 'fit-content';
            img.style.height = 'fit-content';
            img.dataset.expanded = 'true';
        }
    });
});
function scrollParaObjeto() {
    var objeto = document.getElementById("text");
    objeto.scrollIntoView({ behavior: "smooth" });
}
document.addEventListener("DOMContentLoaded", function() {
    var postContents = document.querySelectorAll('.post_content pre');
    postContents.forEach(function(postContent) {
        postContent.innerHTML = postContent.innerHTML.replace(/&gt;([^<&\n]+)/g, '<span class="verde">&gt;$1</span>')
        postContent.innerHTML = postContent.innerHTML.replace(/&lt;([^<&\n]+)/g, '<span class="vermelho">&lt;$1</span>');
    });
    var replyContents = document.querySelectorAll('.reply_content pre');
    replyContents.forEach(function(replyContent) {
        replyContent.innerHTML = replyContent.innerHTML.replace(/&gt;([^<&\n]+)/g, '<span class="verde">&gt;$1</span>');
        replyContent.innerHTML = replyContent.innerHTML.replace(/&lt;([^<&\n]+)/g, '<span class="vermelho">&lt;$1</span>');
        replyContent.innerHTML = replyContent.innerHTML.replace(/(?:^|\s)(#[^\s<\n]+)/g, ' <a class="vermelho-reply" href="#" style="text-decoration: none;">$1</a>');
        });
});
function substituirSpoilers() {
    var pres = document.getElementsByTagName('pre');
    for (var i = 0; i < pres.length; i++) {
        var pre = pres[i];
        pre.innerHTML = pre.innerHTML.replace(/\[spoiler\](.*?)\[\/spoiler\]/g, '<span class="spoiler">$1</span>');
        pre.innerHTML = pre.innerHTML.replace(/\[r\](.*?)\[\/r\]/g, '<span class="rainbowtext">$1</span>');
    }
}
window.onload = function() {
    substituirSpoilers();
};
{% for post in posts %}
function predefinirTexto() {
    var textoPredefinido = "#{{ post.post_id }} ";
  
    var campoTexto = document.getElementById("text");
  
    campoTexto.value = textoPredefinido;
  }
  {% endfor %}

  {% for reply in replies %}
  function predefinirReply{{ reply.reply_id }}() {
      var textoPredefinido = "#{{ reply.reply_id }} ";
    
      var campoTexto = document.getElementById("text");
    
      campoTexto.value = textoPredefinido;
    }
    {% endfor %}