<div class="last-posts-container">
    <div class="last-posts">
        {% for post in posts %}
        {% if not '.mp4' in post.get('post_image') or '.webm' in post.get('post_image')%}
        <div class="last-post">
            <div class="last_post_info">
                <a href="/{{ post.get('board') }}/">/{{ post.get('board') }}/</a>
            </div>
            <div class="last_post_image">
                <img src="{{ url_for('static', filename='post_images/' + post.post_image) }}" alt="">
            </div>
            <div class="last_post_content">
                <a href="/{{ post.get('board') }}/thread/{{post.get('post_id')}}">{{ post.get('post_content')[:67] }}...</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>