<nav class="navbar">
    <div class="nav-content">
        <div class="boards">
            <ul class="board-links">
                <p>[</p>
                <li class="board-link"><a class="home coloredIcon" title="{{ lang["navbar-home"] }}" href="/home"></a></li>
                <p>/</p>
                <li class="board-link"><a class="boards coloredIcon" title="{{ lang["navbar-boards"] }}" href="/tabuas"></a></li>
                <p>/</p>
                <li class="board-link"><a class="account coloredIcon" title="{{ lang["navbar-account"] }}" href="/conta"></a></li>
                <p>/</p>
                {% include 'utils/theme-selector.html' %}
                <p>]</p>
            </ul>
            <ul class="board-links nav-boards">
                {% if boards %}
                    {% set ns = namespace(tags=[]) %}
                    {% for board in boards %}
                        {% set tag = board.tag if board.tag else 'Outros' %}
                        {% if tag not in ns.tags %}
                            {% set ns.tags = ns.tags + [tag] %}
                        {% endif %}
                    {% endfor %}

                    {% for tag in ns.tags %}
                        <p>[</p>
                        {% for board in boards %}
                            {% set board_tag = board.tag if board.tag else 'Outros' %}
                            {% if board_tag == tag and board.board_isvisible == 1 %}
                                <p>/</p>
                                <li class="board-link">
                                    <a href="/{{ board.board_uri }}/" title="{{ board.board_desc }}">{{ board.board_uri }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <p>/</p>
                        <p>]</p>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
