<div class="posts" id="pinned_posts_board">
    {% if pinneds %}
    {% if pinneds | length > 0 %}
    {% for pinned in pinneds %}
    <div class="divisoria"></div>
    <div class="post" id="{{ pinned.post_id }}">
        <div class="postInfo">
            <input type="checkbox" class="deletionCheckBox" name="65004" form="banDeleteForm">
            <span class="nameBlock"><span class="name">{% if pinned.post_user == '' or pinned.post_user == 'Anonymous' %}ドワーフ{% else %}{{ pinned.post_user | safe }}{% endif %}</span></span>
            {% if pinned.user_ip == request.remote_addr %}<span class="you-post">{{ lang['dashboard-user-you'] }}</span>{% endif %}
            <span class="post_subject">{% if pinned.post_subject %}{{ pinned.post_subject }}{% endif %}</span>
            <span class="postDate">{{ pinned.post_date }}</span> <span class="pinIndicator"></span> <a href="/{{ board_id }}/thread/{{ pinned.post_id }}" class="postLink">No. </a> <a class="postLink {% if pinned.post_id == 1 or pinned.post_id|string|length >= 2 and (pinned.post_id|string)[-1] == (pinned.post_id|string)[-2] %}rainbowtext{% endif %}" href="/{{ board_id }}/thread/{{ pinned.post_id }}" class="postNumber">{{ pinned.post_id }}</a>
                <a class="postLink" href="/{{ board_id }}/thread/{{ pinned.post_id }}"> [{{ lang['thread-reply-button'] }}]</a> <button type="submit" class="report mod-action-btn" title="Report this post"><i class="fas fa-flag" style="color: var(--cor-secundaria);"></i></button> {% include 'popups/users/report_pinned.html' %}
        </div>
        <div class="post_content_container">
            <div class="post_files {% if pinned.post_images|length > 1 %}multiple_files{% endif %}">
                {% for image in pinned.post_images %}
                    <div class="post_image">
                        {% if image.startswith('youtube:') %}
                            {% set video_id = image.split(':')[1] %}
                            <div class="post_image_info">
                                <a class="image_url" href="https://youtu.be/{{ video_id }}" target="_blank">
                                    YouTube Embed
                                </a>
                            </div>
                            <img class="post_img post_video_thumbnail" 
                                 src="https://img.youtube.com/vi/{{ video_id }}/0.jpg"
                                 onclick="var iframe = document.createElement('iframe'); iframe.src = 'https://www.youtube.com/embed/{{ video_id }}?autoplay=1'; iframe.width = '100%'; iframe.height = '240'; iframe.frameBorder = '0'; iframe.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'; iframe.allowFullscreen = true; this.parentNode.replaceChild(iframe, this); return false;"
                                 style="cursor: pointer;">
                        {% else %}
                            <div class="post_image_info">
                                <a class="image_url" href="/static/post_images/{{ image }}" target="_blank">
                                    {{ image[:17] ~ '...' ~ image.split('.')[-1] if image|length > 17 else image }}
                                </a>
                            </div>
                            {% if image.split('.')[-1].lower() in ['mp4', 'mov', 'webm'] %}
                            <noscript>
                                <a href="{{ url_for('static', filename='post_images/' ~ image) }}" target="_blank">
                            </noscript>
                            <img class="post_img post_video_thumbnail" id="post_video_thumbnail" draggable="false"
                                src="{{ url_for('static', filename='post_images/thumbs/thumbnail_' ~ image|replace('.' ~ image.split('.')[-1], '') ~ '.jpg') }}">
                            <noscript>
                                </a>
                            </noscript>
                                <video controls class="post_video"
                                       src="{{ url_for('static', filename='post_images/' ~ image) }}" 
                                       style="display: none;"></video>
                            {% else %}
                                    <noscript>
                                        <a href="{{ url_for('static', filename='post_images/' ~ image) }}" target="_blank">
                                    </noscript>
                                    <img draggable="false" class="post_img" 
                                         src="{{ url_for('static', filename='post_images/' ~ image) }}" 
                                         alt="">
                                    <noscript>
                                        </a>
                                    </noscript>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="post_content">
                <pre>{% if pinned.post_content | length >= 500 %}{{ pinned.post_content[:450] | safe }}...{% else %}{{ pinned.post_content | safe }}{% endif %}</pre>{% if pinned.post_content | length >= 500 %}<a class="toolong" href="/{{ board_id }}/thread/{{ pinned.post_id }}">[VIEW ALL CONTENT]</a>{% endif %}
            </div>
            <div class="replies">
                {% set post_replies = replies|selectattr('post_id', 'equalto', pinned.post_id)|list %}
                {% set last_4_replies = post_replies[-4:] %}
                {% set hidden_replies_count = post_replies|length - 4 if post_replies|length > 4 else 0 %}

                {% for reply in last_4_replies %}
                <div class="reply {% if 'sage' in reply.post_subject.lower() %}sage{% endif %}" id="{{ reply.reply_id }}">
                    <div class="reply-postInfo">
                        <input type="checkbox" class="deletionCheckBox" name="{{ pinned.post_id }}" form="banDeleteForm">
                        <span class="nameBlock"><span class="name">{% if not reply.post_user or reply.post_user == '' %}ドワーフ{% else %}{{ reply.post_user | safe }}{% endif %}</span></span>
                        {% if reply.user_ip == request.remote_addr %}<span class="you-post">{{ lang['dashboard-user-you'] }}</span>{% endif %}
                        <span class="postDate">{{ reply.post_date }}</span><a href="/{{ board_id }}/thread/{{ pinned.post_id }}" class="postLink">No. </a> <a class="postLink" href="/{{ board_id }}/thread/{{ pinned.post_id }}" >{{ reply.reply_id }}</a> <button type="submit" class="report mod-action-btn" title="Report this reply"><i class="fas fa-flag" style="color: var(--cor-secundaria);"></i></button> {% include 'popups/users/report_reply.html' %}
                    </div>
                    <div class="post_content_container">
                        {% if reply.get('images') or reply.get('image') %}
                            <div class="reply_files {% if reply.get('images') and reply.images|length > 1 %}multiple_files{% endif %}">
                                {% for image in reply.get('images', [reply.get('image', '')]) %}
                                <div class="reply_image">
                                        {% if image %}
                                            <div class="reply_file">
                                                {% if image.startswith('youtube:') %}
                                                    {% set video_id = image.split(':')[1] %}
                                                    <div class="reply_image_info">
                                                        <a class="image_url" href="https://youtu.be/{{ video_id }}" target="_blank">
                                                            YouTube Embed
                                                        </a>
                                                    </div>
                                                    <img class="reply_img post_video_thumbnail" 
                                                         src="https://img.youtube.com/vi/{{ video_id }}/0.jpg"
                                                         onclick="var iframe = document.createElement('iframe'); iframe.src = 'https://www.youtube.com/embed/{{ video_id }}?autoplay=1'; iframe.width = '100%'; iframe.height = '240'; iframe.frameBorder = '0'; iframe.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'; iframe.allowFullscreen = true; this.parentNode.replaceChild(iframe, this); return false;"
                                                         style="cursor: pointer;">
                                                {% else %}
                                                    <div class="reply_image_info">
                                                        <a class="image_url" href="/static/reply_images/{{ image }}" target="_blank">
                                                            {{ image[:17] ~ '...' ~ image.split('.')[-1] if image|length > 17 else image }}
                                                        </a>
                                                    </div>
                                                    {% if image.split('.')[-1].lower() in ['mp4', 'mov', 'webm'] %}
                                                    <noscript>
                                                        <a href="{{ url_for('static', filename='post_images/' ~ image) }}" target="_blank">
                                                    </noscript>
                                                    <img class="reply_img post_video_thumbnail" id="post_video_thumbnail" draggable="false"
                                                        src="{{ url_for('static', filename='reply_images/thumbs/thumbnail_' ~ image|replace('.' ~ image.split('.')[-1], '') ~ '.jpg') }}">
                                                    <noscript>
                                                         </a>
                                                    </noscript>
                                                        <video controls draggable="false" class="reply_img post_video" 
                                                            src="{{ url_for('static', filename='reply_images/' ~ image) }}"></video>
                                                    {% else %}
                                                        <noscript>
                                                            <a href="{{ url_for('static', filename='post_images/' ~ image) }}" target="_blank">
                                                        </noscript>
                                                            <img draggable="false" class="reply_img" 
                                                                src="{{ url_for('static', filename='reply_images/' ~ image) }}" 
                                                                alt="">
                                                        <noscript>
                                                            </a>
                                                        </noscript>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="reply_content">
                            <pre>{% if reply.content | length >= 900 %}{{ reply.content[:900] | safe }}...{% else %}{{ reply.content | safe }}{% endif %}</pre>{% if reply.content | length >= 900 %}<a class="toolong" href="/{{ board_id }}/thread/{{ pinned.post_id }}">[VIEW ALL CONTENT]</a>{% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if hidden_replies_count > 0 %}
                <div class="hidden-replies">
                    <span>{{ hidden_replies_count }} {{ lang['hidden-replies'] }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}
</div>
