<div class="posts" id="pinned_posts_board">
    {% if pinneds %}
    {% if pinneds | length > 0 %}
    {% for pinned in pinneds %}
    <div class="divisoria"></div>
    <div class="post" id="{{ pinned.post_id }}">
        <div class="postInfo">
            <input type="checkbox" class="deletionCheckBox" name="65004" form="banDeleteForm">
            <span class="nameBlock"><span class="name">{% if pinned.post_user == '' or pinned.post_user == 'Anonymous' %}ドワーフ{% else %}{{ pinned.post_user | safe }}{% endif %}</span></span>
            <span class="postDate">{{ pinned.post_date }}</span><a href="/{{ board_id }}/thread/{{ pinned.post_id }}" class="postLink">No. </a> <a class="postLink" href="/{{ board_id }}/thread/{{ pinned.post_id }}" class="postNumber">{{ pinned.post_id }}</a>
                <a class="postLink" href="/{{ board_id }}/thread/{{ pinned.post_id }}"> [{{ lang['thread-reply-button'] }}]</a>
        </div>
        <div class="post_content_container">
            <div class="post_image">
                <div class="post_image_info">
                    <a class="image_url" href="/static/post_images/{{ pinned.get('post_image') }}">{{ pinned.get('post_image')[:17] + '.' + pinned.get('post_image').split('.')[-1] }}</a>
                </div>
                {% if '.mp4' in pinned.post_image or '.mov' in pinned.post_image or '.webm' in pinned.post_image  %}
                <a href="{{ url_for('static', filename='/post_images/' + pinned.post_image) }}">
                <img class="post_img" id="post_video_thumbnail" draggable="false" src="{{ url_for('static', filename='/post_images/thumbs/thumbnail_' + pinned.post_image|replace(pinned.post_image.split('.')[-1], 'jpg') ) }}">
                </a>
                <video controls class="post_video" src="{{ url_for('static', filename='/post_images/' + pinned.post_image) }}" style="display: none;"></video>
                {% endif %}
                <img draggable="false" class="post_img" src="{{ url_for('static', filename='/post_images/' + pinned.post_image) }}" alt="">
            </div>
            <div class="post_content">
                <pre>{% if pinned.post_content | length >= 500 %}{{ pinned.post_content[:450] | safe }}...<a class="toolong" href="/{{ board_id }}/thread/{{ pinned.post_id }}">Ver mais.</a>{% else %}{{ pinned.post_content | safe }}{% endif %}</pre>
            </div>
            <div class="replies">
                {% set post_replies = replies|selectattr('post_id', 'equalto', pinned.post_id)|list %}
                {% set last_4_replies = post_replies[-4:] %}
                {% set hidden_replies_count = post_replies|length - 4 if post_replies|length > 4 else 0 %}

                {% for reply in last_4_replies %}
                <div class="reply" id="{{ reply.reply_id }}">
                    <div class="reply-postInfo">
                        <input type="checkbox" class="deletionCheckBox" name="{{ pinned.post_id }}" form="banDeleteForm">
                        <span class="nameBlock"><span class="name">{% if not reply.post_user or reply.post_user == '' %}ドワーフ{% else %}{{ reply.post_user | safe }}{% endif %}</span></span>
                        <span class="postDate">{{ reply.post_date }}</span><a href="/{{ board_id }}/thread/{{ pinned.post_id }}" class="postLink">No. </a> <a class="postLink" href="/{{ board_id }}/thread/{{ pinned.post_id }}" >{{ reply.reply_id }}</a>
                    </div>
                    <div class="post_content_container">
                        {% if reply.image != '' %}
                        <div class="reply_image">
                            <div class="reply_image_info">
                                <a class="image_url" href="/static/reply_images/{{ reply.get('image') }}">{{ reply.get('image')[:17] + '.' + reply.get('image').split('.')[-1] }}</a>
                            </div>
                            {% if '.mp4' in reply.image %}
                            <video controls draggable="false" class="reply_img" src="{{ url_for('static', filename='/reply_images/' + reply.image) }}" alt="">
                            {% endif %}
                            <img draggable="false" class="reply_img" src="{{ url_for('static', filename='/reply_images/' + reply.image) }}" alt="">
                        </div>
                        {% endif %}
                        <div class="reply_content">
                            <pre>{{ reply.content | safe }}</pre>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if hidden_replies_count > 0 %}
                <div class="hidden-replies">
                    <span>{{ hidden_replies_count }} {{ lang['hidden-replies'] }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}
</div>
