{% if 'username' in session %}
  {% set user_roles = roles|lower %}
  {% set is_moderator = 'mod' in user_roles or 'owner' in user_roles %}
  {% set is_board_owner = session["username"] == board_info.board_owner %}
  
  {% if is_board_owner or is_moderator %}
    <div id="threadmodoptions" class="mod-options" style="display: none; gap: 1em;">
      <button type="submit" class="delete mod-action-btn" title="Delete this reply">
        <i class="fa-solid fa-trash" style="color: var(--cor-texto);"></i>
      </button>
      <button type="submit" class="ban mod-action-btn" title="Ban this user">
        <i class="fa-solid fa-ban" style="color: var(--cor-texto);"></i>
      </button>
    </div>
    {% include 'popups/moderation/mod_ban_reply_popup.html' %}
    {% include 'popups/moderation/mod_delete_reply_popup.html' %}
  {% endif %}
{% endif %}
