<div class="posts" id="posts_board">
    {% for post in posts %}
    <div class="divisoria"></div>
    <div class="post" post-role="operator" id="{{ post.post_id }}">
        <div class="postInfo">
            <input id="togglemodoptions" type="checkbox" class="deletionCheckBox" form="banDeleteForm">
            <span class="nameBlock"><span class="name">{% if post.post_user == '' or post.post_user == 'Anonymous' %}ドワーフ{% else %}{{ post.post_user | safe }}{% endif %}</span></span>
            <span class="postDate">{{ post.post_date }}</span><a class="image_url" href="/static/post_images/{{ post.get('post_image') }}">file: {{ post.get('post_image')[:17] }}</a><a href="/{{ board_id }}/thread/{{ post.post_id }}" class="postLink">No. </a> <a class="postLink" href="#" onclick="quotePostId({{ post.post_id }})" class="postNumber">{{ post.post_id }}</a>{% include 'utils/thread-moderation-options.html' %}
        </div>
        <div class="post_content_container">
            <div class="post_image">
                {% if '.mp4' in post.post_image or '.mov' in post.post_image or '.webm' in post.post_image  %}
                <video controls draggable="false" class="post_video" src="{{ url_for('static', filename='/post_images/' + post.post_image) }}" alt="">
                {% endif %}
                <img draggable="false" class="post_img" src="{{ url_for('static', filename='/post_images/' + post.post_image) }}" alt="">
            </div>
            <div class="post_content">
                <pre>{{ post.post_content }}</pre>
            </div>
            <div class="replies">
                {% for reply in replies %}
                <div class="reply" id="{{ reply.reply_id }}">
                    <div class="reply-postInfo">
                        <input id="togglemodoptions" type="checkbox" class="deletionCheckBox" name="{{ post.post_id }}" form="banDeleteForm">
                        <span class="nameBlock"><span class="name">{% if not reply.post_user or reply.post_user == '' %}ドワーフ{% else %}{{ reply.post_user | safe }}{% endif %}</span> </span>
                        <span class="postDate">{{ reply.post_date }}</span><a href="#" class="postLink">No. </a> <a class="postLink" href="#" onclick="quotePostId({{ reply.reply_id }})" class="postNumber">{{ reply.reply_id }}</a>{% include 'utils/reply-moderation-options.html' %}
                    </div>
                    <div class="post_content_container">
                        {% if reply.image != '' %}
                        <div class="reply_image">
                            {% if '.mp4' in reply.image %}
                            <video controls draggable="false" class="reply_img" src="{{ url_for('static', filename='/reply_images/' + reply.image) }}" alt="">
                            {% endif %}
                            <img draggable="false" class="reply_img" src="{{ url_for('static', filename='/reply_images/' + reply.image) }}" alt="">
                        </div>
                        {% endif %}
                        <div class="reply_content">
                            <pre>{{ reply.content }}</pre>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
