<select id="theme-selector">
    <option value="">{{ lang["theme-selector"] }}</option>
    <option value="none">default</option>
    <option value="/static/css/yotsuba.css">yotsuba</option>
    <option value="/static/css/cafe-1.css">café</option>
    <option value="/static/css/dogola.css">dogolachan</option>
    <option value="/static/css/tchan.css">tchan</option>
    <option value="/static/css/27chan.css">27chan</option>
    <option value="/static/css/magali.css">magalichan</option>
</select>
