<div class="board-options-container">
    <div class="board-options">
        <ul>
            {% for post in posts %}
            <li class="board-option"><a href="/{{ post.board }}/">[Index]</a></li>
            <li class="board-option"><a href="/{{ post.board }}/banners">[{{ lang["board-options-banner"] }}]</a></li>
            <li class="board-option"><a href="/{{ board_info.board_uri }}/catalog">[{{ lang["board-options-catalog"] }}]</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
