{% if get_flashed_messages() %}
        <input type="checkbox" hidden id="warn-close-button" class="toggle-flash">
        <div class="waring-container" id="waring-container">
            <div class="waring-header">
                <h1>{{ lang["warning-title"] }}</h1>
            </div>
            <div class="waring-content">
                {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            <div class="waring-button">
                <label for="warn-close-button" class="accept-flash">OK</label>
            </div>
        </div>
{% endif %}
